
@using OnlineShoppingWeb.ViewModels
@model OnlineShoppingWeb.ViewModels.ProductViewModelList
    <div class="container">
        <h2>Products</h2>
        <table class="table">
            <thead style="background-color:lightsalmon">
                <tr>
                    <th>Name</th>
                    <th>Price</th>
                    <th>Picture</th>
                </tr>             
            </thead>
            <tbody style="background-color: lightblue">
                   @foreach (var item in Model.ProductList)
                   {
                       
                       @Html.Partial("_Product", item);
                       
                   }
                    
            </tbody>
        </table>
    </div>
    @{
        Html.RenderPartial("Footer",new FooterViewModel());
    }
