@{
    Layout = null;
}
@using OnlineShoppingWeb.ViewModels
@model OnlineShoppingWeb.ViewModels.ProductViewModelList
<!DOCTYPE html>

<html>
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <title>Shopping page</title>
    <link href="~/Bootstrip/bootstrip335css.css" rel="stylesheet" />
    <script src="~/Bootstrip/jquery-1.11.3.js"></script>
    <script src="~/Bootstrip/bootstrip335js.js"></script>
    <style>
        .carousel-inner > .item > img,
        .carousel-inner > .item > a > img {
            width: 70%;
            margin: auto;
        }
    </style>
</head>
<body>
    <div class="container">
        <h2>Products</h2>
        <table class="table">
            <thead style="background-color:lightsalmon">
                <tr>
                    <th>Name</th>
                    <th>Price</th>
                    <th>Picture</th>
                </tr>             
            </thead>
            <tbody style="background-color: lightblue">
                   @foreach (var item in Model.ProductList)
                   {
                       
                       @Html.Partial("_Product", item);
                       
                   }
                    
            </tbody>
        </table>
    </div>
    @{
        Html.RenderPartial("Footer",new FooterViewModel());
    }
</body>
</html>
